* {
    margin: 0;
    padding: 0
}

body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-hero-background {
    color: white;
    background-color: #1F2937;
}

#nav-hero-container {
    margin: auto;
    width: 860px;
}

#nav-container {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links, #hero-container-left p {
    color: E5E7EB;
    font-size: 18px;
}

#nav-container ul li {
    margin: 8px;
    padding: 0px 8px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

#hero-container {
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-container-left h1 {
    font-size: 48px;
    font-style: extra-bold;
    color: #F9FAF8;
}

#hero-container-left h5 {
    font-weight: lighter;
}

#hero-container-left #hero-signup-btn {
    background-color: #3882F6;
    color: white;
    font-size: 14px;
    padding: 8px;
    width: 110px;
    border-radius: 10px;
    margin: 8px 0px;
    border: none;
}

#hero-img {
    width: 400px;
}

#thumbnail-container {
    width: 860px;
    margin: auto;
}

#thumbnail-container h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 35px 0px; 
}

#thumbnail-row {
    display: flex;
    gap: 20px;
}

#thumbnail-row img {
    width: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
}

#thumbnail-row p {
    text-align: center;
}

#tn1-container, #tn2-container, #tn3-container, #tn4-container {
    margin: 10px;
}

#testimonial-background {
    background-color: #E5E7EB;
}

#testimonial-container {
    width: 860px;
    margin: auto;
    padding: 65px 0px;
    color: #1F2937;
}

#testimonial {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    opacity: 0.8;
}

#testimonial-signature {
    text-align: end;
    font-size: 18px;
    font-weight: bold;
}

#cta-background {
    width: 860px;
    margin: auto;
}

#cta-container {
    width: 695px;
    margin: 65px auto;
    background-color: #3882F6;
    border-radius: 6px;
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: white;
}

#cta-text p:first-of-type {
    font-weight: bold;
}

#cta-text p:nth-of-type(2) {
    font-weight: 100;
}

#cta-button {
    background-color: #3882F6;
    color: white;
    font-size: 14px;
    padding: 8px 12px;
    width: 110px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 8px 0px;
}

footer {
    background-color: #1F2937;
    padding: 30px 0px;
}

#footer-background {
    width: 860px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 14px;
}